@use '../base/variables' as v;
@use '../base/mixins' as m;

.footer{
    margin-top: 9rem;
    background-color: v.$footer;
    color: v.$blanco;


    &__grid{
        padding: 5rem 0;
        display: grid;
        grid-template-columns: repeat(2,1fr);

        @include m.tablet {
      
            grid-template-columns: repeat(4,1fr); 
            
         }
    }

     
  

    &__heading{
        padding-bottom: 1rem;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 800;
    }

    &__link{
        padding-bottom: 2rem;
        font-size: 1.5rem;
        color: #f1f1f1;
    }
    &__redes{
        display: flex;
        gap: 2rem;
        margin: 4rem 0;
    }

    &__img{
        width: 3rem;
    }

    &__texto{
        color: v.$blanco;
        padding-bottom: 3rem ;
    }

    &__boton{
        background-color: v.$terciario;
    }
}